html{
    font-size: 62.5%;
}
*{
    border: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
a{
    -webkit-tap-highlight-color:rgba(255, 255, 255, 0);
}
:root{
    --fuente:'fuente';
    --color_banco:rgb(250, 255, 239);
    --verde: rgb(120, 181, 0);
}
@font-face {
    font-family:"fuente";
    src: url("../font/ReggaeOne_Regular.ttf");
}
@font-face {
    font-family:"fuente2";
    src: url("../font/RobotoSlab.ttf");
}
/*-----------------------------------------------*/
.head_p{
    background-image: url("../img/banner.jpg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

/*---------------------------------------*/
.contenedor_header{
    color:var(--color_banco);
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    font-family: 'fuente2';
    transition: 0.5s ease-in 0s;
    display: grid;
    grid-template-rows: 10rem 1.3fr 2.5fr;
     
}
@media (min-width:768px) {
    .contenedor_header{
        grid-template-areas: "head nav"
                         "parrafo parrafo"
                         "parrafo parrafo"; 
    }
}

/*------------------------------------------*/

.title h1{
    font-family: var(--fuente);
    font-size: 5rem;
    color:var(--color_banco);
    transition: 0.5s ease-in 0s;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.title h1 span{
    color: var(--verde);
    font-size: 2.3rem;
    margin-top: 2.5rem;
}
@media (min-width:768px) {
    .title{
        grid-area: head;
    }
    .title h1{
        font-size: 5rem;
        align-items: flex-end;
    }
    .title h1 span{
        font-size: 2.7rem;
    }
}

/*--------------------------------------------*/
.nav{
    background-color: rgba(255, 255, 255, 0.145);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    transition: 0.5s ease-in 0s;
    border-radius: 0.3rem;
}
.nav a{
    color:var(--color_banco);   
}
.nav a:hover{
    color: var(--verde);
}
@media (min-width:768px) {
    .nav{
        grid-area: nav;
        background-color: rgba(0, 0, 0, 0);
        flex-direction: row;
        align-items: flex-end;
    }
}

/*---------------------------------------------*/
.contenedor_header p{
    transition: 0.5s ease-in 0s;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5rem;
    font-size: 1.5rem;
}

@media (min-width:768px) {
    .contenedor_header p{
        grid-area: parrafo;
        font-size: 2rem;
    }
}
.section_1{
    width: 100%;
    height: 100vh;
}

.footer_prinsipal{
    width: 100%;
    height: 50vh;
    color: var(--verde);
    background-color: rgb(14, 21, 0);
}
